// Social Buttons

$facebook:              #3b5998 !default;
$facebook-states:       darken($facebook, 5%) !default;
$twitter:               #55acee !default;
$twitter-states:        darken($twitter, 5%) !default;
$instagram:             #125688 !default;
$instagram-states:      darken($instagram, 6%) !default;